<p>Parent Component</p>
<h1>Content Projection</h1>
<div>
  <p>Content projection is a pattern in which you insert, or project,
    the content you want to use inside another component</p>
  <div>
    Content Projection can be categorized into two types
    <ol>
      <li>Single Slot Content Projection</li>
      <li>Multi Slot Content Projection</li>
    </ol>
  </div>
  <ul>
    <li>Single Slot Content Projection can be achieved only by using the ng-content tag.</li>
    <li>Multi Slot Content Projection Can be achieved by using the selector pattern</li>
    <li>Contents that already projected by using <em>Multi Slot Content </em>
      projection Will not be projected on <em>Single Slot Content</em> Projection.
    </li>
  </ul>
</div>

<h2>@ContentChild Decorator</h2>
<p>@ContentChild Decorator is used to access <b>the reference of DOM Element</b> or
  <b>a Component</b> or <b>a Directive from the projected content</b> into the child component class.</p>

<ul>
  <li>Content inside the Parent Component's
    ng-content is can be simply accessed by using a view child decorator.
  </li>
  <li>@ContentChild Decorator Can't be used to access the parent components elements</li>
</ul>

<app-child>
<!--  Single slot content projection -->
  <p>Projecting the Child Components Data from the Parent Component of {{ title }}</p>
<!--  Multi slot content projection-->
  <p class="p3">Child Content with class name P3</p>
  <p p4>Child Content with custom attribute p4</p>
  <p #childTempRef>Child content with Template Reference.</p>
  <p #childTempRef>Another Child content with Template Reference.</p>

  <!-- <- Template as the selector is not applicable for select statement in ngTemplate-->
  <app-grand-child></app-grand-child>
  <app-grand-child></app-grand-child>
  <app-grand-child></app-grand-child>
  <app-grand-child></app-grand-child>
</app-child>
